*,html,body{
    margin: 0;
    padding: 0;
}
body{
    height: 2000px;
}
header{

    height: 112px;
    line-height: 112px;
  position: absolute;
    z-index: 1;
    width: 100%;
}
.secondary{
    background-color: royalblue;
    
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
   
}
header nav{
    float: right;
}
.logo img{
    margin-top:10px ;
    width: 150px;
    height: 100px;
    margin-right: 550px;
    color: honeydew;
  
}
header nav ul li a{
    padding-right: 30px;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in ;

}
header nav ul li a:hover{
    text-decoration: none;
    color: lime;
}
.img1{
    background-image: linear-gradient(rgba(0,0,0,0.7 ),rgba(0,0,0,0.7)),url(..//images/slider1.jpg);
    background-size: 100% 100%;
   
}
.slider,.slider ul,.slider ul li
{
    height: 710px;
    width: 100%;
    color:white;
    position: absolute;
    text-align: center;

}
.slider h2 
{
    font-weight: bold;
   
    margin-top: 250px;
   
}
.slider span{
    color: rgb(96, 240, 39);
    font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
  
}
.slider p{
    font-style: italic;
    font-size: 20px;
}

.img2{
    background-image:  linear-gradient(rgba(0,0,0,0.7 ),rgba(0,0,0,0.7)),url(..//images/slider2.jpg);
    background-size: 100% 100%;
}
.img3{
    background-image:  linear-gradient(rgba(0,0,0,0.7 ),rgba(0,0,0,0.7)),url(..//images/slider3.jpg);
    background-size: 100% 100%;
}
.slider i{
    font-size: 35px;
    margin-right: 10px;
}

.intro-area{
    margin-top: 740px;
    position: relative;
    padding: 100px 0px;
    text-align: center;
    
}
.sub-heading
{
    position: relative;
    margin-bottom: 75px;
}
.sub-heading:before{
    content:"";
    position: absolute;
    top:100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 2px;
    background-color:darkorange;
    z-index: 1;
    
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
     transition: 0.3s ease;

}
.sub-heading:hover:before{
    width: 24%;
    margin-left: -12px;
   

}
.sub-heading:after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
   margin-left: -12%;
    width: 24%;
    height: 2px;
    background-color: gray;

}
.sub-heading p{
    color: #818181 ;
   display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
   


}
.intro-block
{
    position: relative;
    background:#f7f7f7;
    margin: 50px 0px 5px;
    text-align: center;
    padding: 70px 25px 40px;

}
.intro-block:hover,.intro-block.active
{
    background: dodgerblue;
}

.intro-block:hover
{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
}
.intro-block .intro-icon
{
    position: absolute;
    top:-31px;
    left: 50%;
    margin-left: -31px;

    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2px;
    background: dodgerblue;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px #CCEEF9;
    padding: 15px ;

   
}
.intro-block h3{
    font-size: 18px;
    color: dodgerblue;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;

}
.intro-block p{
    columns: #505050;
}

.intro-block:hover h3, .intro-block:hover p{
    color: whitesmoke;
}

.testimonials
{
    
   
    
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    color:darkblue;
    font-weight: bold;
    margin-top:-100px ;


}



.testimonials .carousel-indicators
{
    bottom: -60px;
}
.testimonials p{
    color: #505050;
    font-size: 15px;
    font-weight: unset;
}
.carousel-inner img{
    max-width:100%;
    height: 710px;
   
    
}
.carousel-inner p{
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin-top: 10px;

}


.contact-area{
    padding: 80px 0px ;
   
}
 .divider{
     border-right: 1px solid #d9d9d9 ;
 }
 
 .contact-area h3{
     text-transform: uppercase;
     margin-bottom: 18px;
     margin-top: 25px;
 }
 .contact-area h4{
     columns: #3a3a3a;;
     font-weight: 700;
     text-transform: capitalize;
     margin-bottom: 4px;
     letter-spacing: 0.025em;

 }
 .contact-area span{
     display: block;
     color: #3a3a3a;
     font-size: 14px;
     line-height: normal;
     letter-spacing: 0.025em;
 }
 .contact-area ul li{
     overflow: hidden;
     margin-bottom: 25px;

 }
 .contact-area ul li:last-child{
     margin-bottom: 0;
 }
 .contact-address ul li .fa{
     float: left;
     width: 25px;
     color: dodgerblue;
     font-size: 30px;

 }
 .contact-address ul li .address-phone{
     float: left;
     width: 180px;
     padding-left: 25px;

 }
 .contact-block{
     padding-left:25px;

 }
 .contact-area .form-control, .contact-area textarea{
     font-family: 'Roboto', sans-serif;
     background: #f8fdff;
     border: 2px solid #a5d3eb;
     padding: 10px 12px;
     color: #bdbdbd;
     height: 45px;
     font-weight: 400;
     border-radius: 0;

 }
 .contact-area .form-group{
     margin-bottom: 30px;
 }
 .contact-area textarea{
     min-height: 115px;

 }
 .contact-area .default-btn{
     padding: 10px;
     background:dodgerblue;
     font-weight: 600;
 }
 .footer .footer-main{
     width: 100%;
     height: auto;
     margin: auto;
     background: lightseagreen;
     padding: 20px 0px;


 }
 .footer-social-icon{
     width: 100%;
     height:auto ;
     margin: auto;
 }
.footer-social-icon ul{
     margin: 0px;
     padding: 0px;
     text-align: center;

 }
 .footer-social-icon ul li{
     display: inline-block;
     width: 50px;
     height: 50px;
     margin-top: 15px;
    

 }
 .footer-social-icon ul li a{
     color: white;
     font-size: 25px;
 }
 .footer-social-icon ul button{
     margin-left: 100px;
     margin-right: 10px;
    color: white;
     text-decoration: none;
     background-color: deepskyblue;
     border: none;
     font-size: 20px;
     border-radius: 8px;
     padding: 5px;
     float:right;
     transition-duration: 0.4s;
     

    
 }
 .footer-social-icon ul button:hover{
    background-color:red;
    color: white;

 } 
 .footer-social-icon ul button a{
    text-decoration: none;
    color:white;
    margin-top: 15px;
   
 }

 
